h1 {
  font-size: 70px;
  display: block;
  background-color: purple;
  color: deeppink;
}

h2 {
  font-size: 60px;
  color: hotpink;
}

h3 {
  font-size: 40px;
  color: hotpink;
}

body {
  font-weight: bold;
  font-size: 16px;
  font-family: sans-serif, arial;
  background-color: dimgray;
  color: hotpink;
}

.img_class {
  display: inline;
  height: 270px;
  width: 270px;
}

.img_class2 {
  display: inline;
  width: 160px;
  height: 205px;
}

.text_align {
  display: block;
  text-align: center;
}

.pixelheight {
  line-height: 16px
}

.anchor_class {
  font-size: 50px
}

a:hover {
    color: violet;
}

.list {
  display:inline-block;
  background-color: #263238;
  margin-left: 300px;
}

.void {
  margin-top: 200px;
}

.table {
  font-size: 40px;
  display:inline-block;
  background-color: #263238;
}

table, th, td {
   border: 3px solid black;
}

td {
  font-weight: lighter;
}
